:root {
  --primary-color: #6B8E23;
  --secondary-color: #8B4513;
  --accent-color: #FFD700;
  --background-color: #F5F5DC;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
}

footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
    border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
}